package com.devbatch.kaswaa.databinding;
import com.devbatch.kaswaa.R;
import com.devbatch.kaswaa.BR;
import androidx.annotation.NonNull;
import androidx.annotation.Nullable;
import android.view.View;
@SuppressWarnings(